@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --t1 : rgba(82, 82, 82, 0.783);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(-150deg, #222222 15%, #373737 70%, #3c4859 94%);
    --foreground: #ededed;
    --t1 : rgba(188, 188, 188, 0.822);
  }
}

body{
  background: var(--background);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}